<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Management</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>

<h1>USER DASHBOARD</h1>

<div class="buttons-container">
    <a href="/order"><button class="order-button"">Make Order</button></a>
    <a href="/status"><button class="status-button">Check Order Status</button></a>    
    <a href="/balance"><button class="balance-button">Check Balance</button></a>
    <a href="/services"><button class="services-button"">View All Services</button></a>
    <a href="/keys"><button class="services-button"">View Api Keys</button></a>
    <a href="/logout"><button class="services-button"">Logout</button></a>
</div>

<script src="script.js"></script>
</body>
</html>