<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Form</title>
    <link rel="stylesheet" href="../static/styles.css"
</head>
<body>

<h2>Check Order Status</h2>

<form method="POST" actions="/status">
    <label for="field2">Order Id:</label>
    <input type="text" id="id" name="id" required>
    <br>

    <button type=""button" onclick="submitForm(event)">Submit</button>
</form>
</body>
</html>